*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
}

/* utils */
.border-bottom-grey{
    border-bottom: 1px solid rgb(111, 111, 111);
}

.color-grey{
    color: rgb(111, 111, 111);
}

.color-white{
    color: rgb(255, 255, 255);
}

.decoration-none{
    text-decoration: none;
}

.font-size-20{
    font-size: 20px;
}

.font-size-25{
    font-size: 25px;
}

.margin-right-20{
    margin-right:20px;
}

.padding-10{
    padding: 10px;
}

.padding-top-10{
    padding-top: 10px;
}

.padding-right-10{
    padding-right: 10px;
}

.padding-bottom-10{
    padding-bottom: 10px;
}

.style-type-none{
    list-style-type: none;
}

/* inizio header */
header{
    height: 80px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    top:0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header #upgrade{
    /* height: 50px; */
    /* width: 150px; */
    /* border: 3px solid red; */
}

.btn-upgrade{
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 30px;
}
/* fine header */


/* inizio sidebar */
#sidebar{
    width: 200px;
    height: calc(100vh - 100px);
    background-color: rgb(0, 0, 0);
    /* color: rgb(255, 255, 255); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar-menu{
    width: 100%;
    /* height: 300px; */
    /* background-color: #925c65; */
}

#sidebar-menu .logo{
    padding: 10px;
    width: 180px;
}

#sidebar-menu ul li, #sidebar-menu p, #sidebar-icon-top ul li{
    /* font-size: 18px; */
    padding: 5px 0px;
}

#sidebar-menu i, #sidebar-bottom .profile-img{
    vertical-align: middle;
}

#sidebar-menu ul li i{
    width: 45px;
}

#sidebar-bottom{
    width: 100%;
    /* height: 50px; */
    /* background-color: #ffc0cb; */
}

#sidebar-icon-top, #sidebar-icon-bottom{
    display: none;
}

.profile-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(111, 111, 111);
}

/* fine sidebar */

/* inizio main */
#main-container{
    width: calc(100vw - 200px);
    height: 100%;
    background-color: rgb(20, 25, 34);
    padding-top: 80px;
    overflow-y: auto;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.row{
    display: flex;
}

.col-100{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */

}

.album{
    width: calc(100% / 6);
    height: 150px;
    background-color: orange;
    border: 1px solid red;
    /* margin: 10px; */
}

/* fine main */

/* inizio footer */
footer{
    height: 100px;
    width: 100%;
    /* oppure 100vh */
    background-color: #00ffff;
    position: fixed;
    z-index: 1;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

#footer-left, #footer-right{
    height: 100%;
    width: 150px;
    background-color: #0000ff;
}

#footer-central{
    height: 100%;
    width: calc(100% - 300px);
    background-color: #0000ff;
    border: 3px solid red;
}
/* fine footer */

/* DESKTOP FIRST */
/* version desktop */
@media screen and (max-width: 992px){
    .col-100{
        flex-wrap: wrap;
    }

    .album{
        width: calc(100% / 4);
    }
}
/* version tablet */
@media screen and (max-width: 768px){
    .album{
        width: calc(100% / 2);
    }
}

/* version mobile xs */
@media screen and (max-width: 576px){
    header{
        width: calc(100% - 50px);
    }

    #sidebar{
        width: 50px;
    }

    #sidebar-menu, #sidebar-bottom{
        display: none;
    }

    #sidebar-icon-top, #sidebar-icon-bottom{
        display: block;
    }

    #main-container{
        width: calc(100vw - 50px);
    }
}
