@import url('https://fonts.cdnfonts.com/css/circular-std');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Circular-std', sans-serif;
}

.wrapper{
    display: flex;
    height: calc(100vh - 100px);
    width: 100%;
}

/* utils */
.align-center{
    align-items: center;
}

.border-bottom-grey{
    border-bottom: 1px solid rgb(111, 111, 111);
}

.color-grey{
    color: rgb(111, 111, 111);
}

.color-white{
    color: rgb(255, 255, 255);
}

.decoration-none{
    text-decoration: none;
}

.font-size-20{
    font-size: 20px;
}

.font-size-25{
    font-size: 25px;
}

.inline-list{
    display: flex;
}

.margin-right-20{
    margin-right:20px;
}

.overflow-auto{
    overflow-y: auto;
}

.padding-10{
    padding: 10px;
}

.padding-left-10{
    padding-left: 10px;
}

.padding-top-10{
    padding-top: 10px;
}

.padding-right-10{
    padding-right: 10px;
}

.padding-bottom-10{
    padding-bottom: 10px;
}

.style-type-none{
    list-style-type: none;
}

.text-center{
    text-align: center;
}

.justify-center{
    justify-content: center;
}

/* inizio header */
header{
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    top:0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-upgrade{
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 30px;
}
/* fine header */


/* inizio sidebar */
#sidebar{
    width: 200px;
    height: calc(100vh - 100px);
    background-color: rgb(0, 0, 0);
    /* color: rgb(255, 255, 255); */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar-menu{
    width: 100%;
    overflow-y: hidden;
    /* devo togliere position absolute a bottom menu */
}

#sidebar-menu .logo{
    padding: 10px;
    width: 180px;
}

#sidebar-menu ul li, #sidebar-menu p, #sidebar-icon-top ul li{
    /* font-size: 18px; */
    padding: 5px 0px;
}

#sidebar-menu i, #sidebar-bottom .profile-img{
    vertical-align: middle;
}

#sidebar-menu ul li i{
    width: 45px;
}

#sidebar-bottom{
    width: 100%;
    /* position: absolute; */
    /* bottom: 0; */
    /* z-index: 1; */
    /* background-color: rgb(0, 0, 0); */
    /* height: 50px; */
    /* background-color: #ffc0cb; */
}

.playlist{
    overflow-y: hidden;
    height: 100%;
    /* height: 400px; */
}

.playlist ul{
    height: 40%;
}

#sidebar-icon-top, #sidebar-icon-bottom{
    display: none;
}

.profile-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(111, 111, 111);
}

/* fine sidebar */

/* inizio main */
#main-container{
    width: calc(100vw - 200px);
    height: 100%;
    background-color: rgb(20, 25, 34);
    padding-top: 80px;
    overflow-y: auto;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.row{
    display: flex;
    width: 100%;
}

.col-100{
    width: 100%;
    display: flex;
}

.album{
    width: calc(100% / 6);
    /* height: 150px; */
    /* background-color: orange; */
    /* border: 1px solid red; */
    /* margin: 10px; */
}

.album-img{
    width: 100%;
}

/* fine main */

/* inizio footer */
footer{
    height: 100px;
    width: 100%;
    /* oppure 100vh */
    background-color: rgb(40, 40, 40);
    /* position: fixed; */
    /* z-index: 1; */
    /* bottom: 0; */
    display: flex;
    /* justify-content: space-between; */
}

#footer-left, #footer-right{
    height: 100%;
    width: 200px;
    display: flex;
}

.playing-image{
    max-width: 100%;
    /* media query 576px far sparire immagine come bonus */
}

.currently-playing{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.currently-image{
    width:30%;
}

.icons{
    display: flex;
    align-items: center;
}

.icons a{
    padding: 0px 5px;
}

#footer-central{
    height: 100%;
    /* utilizzare width fissa dopo i 768 con media query metto in percentuale */
    width: calc(100% - 400px);
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer-central ul li{
    padding: 10px;
}

.progress-music{
    height: 5px;
    width: 45%;
    background-color:rgb(111, 111, 111);
    border-radius: 5px;
}

.progress-music-20{
    height: 100%;
    width: 20%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.progress-music-cursor{
    display: none;
}

.progress-music:hover .progress-music-cursor{
    display: block;
    position: absolute;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: blueviolet;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.progress-music:hover .progress-music-20{
    background-color: aqua;
}
/* fine footer */

/* DESKTOP FIRST */
/* version desktop */
@media screen and (max-width: 992px){
    .col-100{
        flex-wrap: wrap;
    }

    .album{
        width: calc(100% / 4);
    }

}
/* version tablet */
@media screen and (max-width: 768px){
    .album{
        width: calc(100% / 2);
    }
}

/* version mobile xs */
@media screen and (max-width: 576px){
    header{
        width: calc(100% - 50px);
    }

    #sidebar{
        width: 50px;
    }

    #sidebar-menu, #sidebar-bottom{
        display: none;
    }

    #sidebar-icon-top, #sidebar-icon-bottom{
        display: block;
    }

    #main-container{
        width: calc(100vw - 50px);
    }

    #footer-left, #footer-right{
        width: 30%;
    }

    #footer-central{
        width: 40%;
    }

    #footer-left .icons{
        flex-direction: column;
        justify-content: center;
    }
}
